/.devcontainer/ @ministryofjustice/data-platform-apps-and-tools
/.github/ @ministryofjustice/data-platform-apps-and-tools
/containers/ @ministryofjustice/data-platform-apps-and-tools
/containers/daap-* @ministryofjustice/data-platform-labs
/scripts/simulated-data-producer/ @ministryofjustice/data-platform-labs
/terraform/ @ministryofjustice/data-platform-apps-and-tools
/python-libraries/data-platform-catalogue/ @ministryofjustice/data-platform-labs
