.env
*.terraform/
coverage/
venv/
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
**/terraform.tfstate
*.tar
sbom-*
**/*.tfstate
**/plan.json
.infracost
__pycache__
.github/path-filter/pytest.yml
.github/path-filter/containers.yml
**/**datahub
