---
owner_slack: "#data-platform-notifications"
title: What is the Data Platform?
last_reviewed_on: 2023-07-10
review_in: 3 months
weight: 0
---

# <%= current_page.data.title %>

## Why does the Data Platform exist?

The main reasons that support why the Data Platform exists are:

- Offer better tools for data analysis
- Avoid siloed data, frequently hard to find and access
- Enable analysis beyond Excel, to improve scalability, traceability, reproducibility
- Make it easier for frequent update of data analysis
- Offer a single source of truth for data/business entities, used to feed decisions at different levels

Side effects

- Move out of deprecated and expensive legacy tech (SAS, etc)
- Offer a cheaper solution

## Mission

> The mission of the data platform is to connect the right people, systems, and data to improve justice outcomes.

The purpose of the Data Platform is to enable consumers of data to connect directly with producers of data in order to make better decisions. These producers and consumers may be internal or external to the MoJ.

> The goal of the data platform is to offer means for data sharing between services*. A secondary goal is to enable data analysis.

\* ”services” here is used loosely and represents other systems, applications, products, etc.

- From an **operational** point of view, this data is shared by one system and consumed by a different system, in order to offer some functionality. This is not sharing via email or in dashboards.

    For example there could be a system that combines the number of available social housing with number of people being released from prison that require social housing, and potentially show a warning if there's not enough housing. This is a made up example to show how data from very independent services could be consumed by a third service, in order to provide richer functionality.

- From an **analytical** point of view, this data may be available for processing and analysis on the Analytical Platform.

    This means enabling data processing, without doing the data processing itself. In other words, teams should be able to <span style="color: rgb(54,179,126);">use the data platform on a self service way</span> and use it to process data available in the platform, in order to make it available for other services and for data visualisation.

From a high level point of view, this is what the Data Platform would look like:

![Data platform general diagram](../images/what-is-the-data-platform.png "Data platform general diagram")

### Conclusions

Given the goal to offer means for data sharing between services, it must be possible for data to be registered in the data platform and also discovered. In other words, a person responsible for an independent system must be able to search for available data on the platform, and must be able to easily add their data to the platform, making it available for others to find and use.

<span style="color: #4C9AFF">Data has to be intentionally shared.</span> The platform is not a backup for databases, nor a target for a database dump, where everything available from a system is made available. Instead, data must be curated before being made available to the platform. Because it needs to be shared intentionally, the person that makes the data available in the platform would usually have <span style="color: #4C9AFF">domain knowledge about that data</span>.

## Analytical Platform

The Analytical Platform is part of the Data Platform.

The Data Platform contains a data mesh. The Analytical Platform isn’t part of the data mesh.

![Data platform overview](../images/data-platform-overview.png "Data platform overview")
