---
owner_slack: "#data-platform-notifications"
title: What is the Data Platform?
last_reviewed_on: 2023-03-01
review_in: 3 months
---

# <%= current_page.data.title %>

## Why does the Data Platform exist?
The main reasons that support why the Data Platform exists are:

- Offer better tools for data analysis
- Avoid siloed data, frequently hard to find and access
- Enable analysis beyond Excel, to improve scalability, traceability, reproducibility
- Make it easier for frequent update of data analysis
- Offer a single source of truth for data/business entities, used to feed decisions at different levels

Side effects
- Move out of deprecated and expensive legacy tech (SAS, etc)
- Offer a cheaper solution

## Mission
> The mission of the data platform is to connect the right people, systems, and data to improve justice outcomes.

The purpose of the Data Platform is to enable consumers of data to connect directly with producers of data in order to make better decisions. These producers and consumers may be internal or external to the MoJ.

> The goal of the data platform is to offer means for data sharing between services*. A secondary goal is to enable data analysis.

\* ”services” here is used loosely and represents other systems, applications, products, etc.

- From an **operational** point of view, this data is shared by one system and consumed by a different system, in order to offer some functionality. This is not sharing via email or in dashboards.

    For example there could be a system that combines the number of available social housing with number of people being released from prison that require social housing, and potentially show a warning if there's not enough housing. This is a made up example to show how data from very independent services could be consumed by a third service, in order to provide richer functionality.

- From an **analytical** point of view, this data may be available for processing and analysis on the Analytical Platform.

    This means enabling data processing, without doing the data processing itself. In other words, teams should be able to <span style="color: rgb(54,179,126);">use the data platform on a self service way</span> and use it to process data available in the platform, in order to make it available for other services and for data visualisation.

