name: Add issue to project

on:
  issues:
    types:
      - opened

permissions: read-all

jobs:
  add-issue-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        id: add_issue_to_project
        uses: actions/add-to-project@960fbad431afda394cfcf8743445e741acd19e85 # v0.4.0
        with:
          project-url: ${{ var.DATA_PLATFORM_GITHUB_PROJECT_URL }}
          github-token: ${{ secrets.DATA_PLATFORM_ROBOT_TOKEN }}
