---
name: Container images - Alpine

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/container-images-alpine.yml
      - .github/workflows/path-filter/container-images-alpine.yml
      - container-images/alpine/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/container-images-alpine.yml
      - .github/workflows/path-filter/container-images-alpine.yml
      - container-images/alpine/**

permissions: read-all

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.detect_changes.outputs.changes }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Detect changes
        id: detect_changes
        uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        with:
          filters: .github/workflows/path-filter/container-images-alpine.yml

  build:
    if: ${{ needs.detect-changes.outputs.images != '[]' }}
    needs: [detect-changes]
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        images: ${{ fromJson(needs.detect-changes.outputs.images) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Prepare build paramerters
        id: prepare
        run: |
          echo "name=$(jq -r '.name' container-images/alpine/${{ matrix.images }}/config.json)" >> ${GITHUB_ENV}
          echo "version=$(jq -r '.version' container-images/alpine/${{ matrix.images }}/config.json)" >> ${GITHUB_ENV}

      - name: Build image
        id: build
        uses: docker://cgr.dev/chainguard/apko@sha256:a2438e282d6a5ca7de8b6e5343b452f003ac148def536bbd4bacc357ee41c58a # 0.7.1
        with:
          args: build container-images/alpine/${{ matrix.images }}/apko.yml ${{ env.name }}:${{ env.version }} ${{ env.name }}-${{ env.version }}.tar

      - name: Load image
        id: load_image
        run: |
          docker load -i ${{ env.name }}-${{ env.version }}.tar

      - name: Scan image
        id: scan_image_anchore
        uses: anchore/scan-action@4be3c24559b430723e51858969965e163b196957 # v3.3.5
        with:
          image: ${{ env.name }}:${{ env.version }}-amd64
          severity-cutoff: critical

      - name: Upload SARIF
        if: always()
        id: upload_sarif_anchore
        uses: github/codeql-action/upload-sarif@7df0ce34898d659f95c0c4a09eaa8d4e32ee64db # v2.2.12
        with:
          sarif_file: ${{ steps.scan_image_anchore.outputs.sarif }}

      - name: Scan SBOM
        id: scan_sbom
        uses: anchore/scan-action@4be3c24559b430723e51858969965e163b196957 # v3.3.5
        with:
          sbom: sbom-x86_64.spdx.json

      - name: Publish SBOM
        id: publish_sbom
        uses: anchore/sbom-action/publish-sbom@422cb34a0f8b599678c41b21163ea6088edb2624 # v0.14.1
        with:
          sbom-artifact-match: sbom-x86_64.spdx.json

      - name: Install cosign
        if: github.ref == 'refs/heads/main'
        id: install_cosign
        uses: sigstore/cosign-installer@9e9de2292db7abb3f51b7f4808d98f0d347a8919 # v3.0.2

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        id: docker_login
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag image
        if: github.ref == 'refs/heads/main'
        id: tag_image
        run: |
          docker tag \
            ${{ env.name }}:${{ env.version }}-amd64 \
            ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          docker tag \
            ${{ env.name }}:${{ env.version }}-amd64 \
            ministryofjustice/data-platform-${{ env.name }}:latest

      - name: Push image
        if: github.ref == 'refs/heads/main'
        id: push_image
        run: |
          docker push ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          docker push ministryofjustice/data-platform-${{ env.name }}:latest

      - name: Sign image
        if: github.ref == 'refs/heads/main'
        id: sign_image
        run: |
          cosign sign --yes ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          cosign sign --yes ministryofjustice/data-platform-${{ env.name }}:latest
