---
name: Container images - Ubuntu

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/container-images-ubuntu.yml
      - .github/workflows/path-filter/container-images-ubuntu.yml
      - container-images/ubuntu/**
  push:
    branches:
      - main
    paths:
      - .github/workflows/container-images-ubuntu.yml
      - .github/workflows/path-filter/container-images-ubuntu.yml
      - container-images/ubuntu/**

permissions: read-all

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      images: ${{ steps.detect_changes.outputs.changes }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Detect changes
        id: detect_changes
        uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        with:
          filters: .github/workflows/path-filter/container-images-ubuntu.yml

  build:
    if: ${{ needs.detect-changes.outputs.images != '[]' }}
    needs: [detect-changes]
    name: Build image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        images: ${{ fromJson(needs.detect-changes.outputs.images) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Prepare build paramerters
        id: prepare
        run: |
          echo "name=$(jq -r '.name' container-images/ubuntu/${{ matrix.images }}/config.json)" >> ${GITHUB_ENV}
          echo "version=$(jq -r '.version' container-images/ubuntu/${{ matrix.images }}/config.json)" >> ${GITHUB_ENV}

      - name: Build image
        id: build
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          context: container-images/ubuntu/${{ matrix.images }}
          file: container-images/ubuntu/${{ matrix.images }}/Dockerfile
          push: false
          tags: ${{ env.name }}:${{ env.version }}

      - name: Generate SBOM
        id: generate_sbom
        uses: anchore/sbom-action@78fc58e266e87a38d4194b2137a3d4e9bcaf7ca1 # v0.14.3
        with:
          image: ${{ env.name }}:${{ env.version }}
          output-file: sbom.spdx.json

      - name: Scan image
        id: scan_image_anchore
        uses: anchore/scan-action@24fd7c9060f3c96848dd1929fac8d796fb5ae4b4 # v3.3.6
        with:
          image: ${{ env.name }}:${{ env.version }}
          severity-cutoff: critical

      - name: Upload SARIF
        if: always()
        id: upload_sarif_anchore
        uses: github/codeql-action/upload-sarif@cdcdbb579706841c47f7063dda365e292e5cad7a # v2.2.7
        with:
          sarif_file: ${{ steps.scan_image_anchore.outputs.sarif }}

      - name: Scan SBOM
        id: scan_sbom
        uses: anchore/scan-action@24fd7c9060f3c96848dd1929fac8d796fb5ae4b4 # v3.3.6
        with:
          sbom: sbom.spdx.json

      - name: Publish SBOM
        id: publish_sbom
        uses: anchore/sbom-action/publish-sbom@78fc58e266e87a38d4194b2137a3d4e9bcaf7ca1 # v0.14.3
        with:
          sbom-artifact-match: sbom.spdx.json

      - name: Install cosign
        if: github.ref == 'refs/heads/main'
        id: install_cosign
        uses: sigstore/cosign-installer@dd6b2e2b610a11fd73dd187a43d57cc1394e35f9 # v3.0.5

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main'
        id: docker_login
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Tag image
        if: github.ref == 'refs/heads/main'
        id: tag_image
        run: |
          docker tag \
            ${{ env.name }}:${{ env.version }} \
            ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          docker tag \
            ${{ env.name }}:${{ env.version }} \
            ministryofjustice/data-platform-${{ env.name }}:latest

      - name: Push image
        if: github.ref == 'refs/heads/main'
        id: push_image
        run: |
          docker push ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          docker push ministryofjustice/data-platform-${{ env.name }}:latest

      - name: Sign image
        if: github.ref == 'refs/heads/main'
        id: sign_image
        run: |
          cosign sign --yes ministryofjustice/data-platform-${{ env.name }}:${{ env.version }}
          cosign sign --yes ministryofjustice/data-platform-${{ env.name }}:latest
