---
name: Dev Container

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/devcontainer.yml
      - .github/path-filter/devcontainer.yml
      - .devcontainer/**

permissions: read-all

env:
  DEVCONTAINER_CLI_VERSION: 0.40.0

jobs:
  detect-changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      features: ${{ steps.detect_changes.outputs.changes }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Detect changes
        id: detect_changes
        uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        with:
          filters: .github/path-filter/devcontainer.yml

  test:
    if: ${{ needs.detect-changes.outputs.features != '[]' }}
    needs: [detect-changes]
    name: Test
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        feature: ${{ fromJson(needs.detect-changes.outputs.features) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Install devcontainer CLI
        id: install_devcontainer_cli
        run: npm install -g @devcontainers/cli@${{ env.DEVCONTAINER_CLI_VERSION }}

      - name: Build Image
        id: build_image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          file: .devcontainer/features/test/Dockerfile
          load: true
          tags: devcontainer

      - name: Testing ${{ matrix.feature }}
        id: test_feature
        run: |
          devcontainer features test \
            --skip-scenarios \
            --project-folder .devcontainer/features \
            --features ${{ matrix.feature }} \
            --base-image devcontainer

  test-scenarios:
    if: ${{ needs.detect-changes.outputs.features != '[]' }}
    needs: [detect-changes]
    name: Test Scenarios
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        feature: ${{ fromJson(needs.detect-changes.outputs.features) }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Install devcontainer CLI
        id: install_devcontainer_cli
        run: npm install -g @devcontainers/cli@${{ env.DEVCONTAINER_CLI_VERSION }}

      - name: Build Image
        id: build_image
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          file: .devcontainer/features/test/Dockerfile
          load: true
          tags: devcontainer

      - name: Testing ${{ matrix.feature }} scenarios
        id: test_feature_scenarios
        run: |
          devcontainer features test \
            --project-folder .devcontainer/features \
            --features ${{ matrix.feature }} \
            --skip-autogenerated \
            --base-image devcontainer
