---
name: Documentation

on: # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/documentation.yml
      - docs/**
      - "!docs/archive/**"
  push:
    branches:
      - main
    paths:
      - .github/workflows/documentation.yml
      - docs/**
      - "!docs/archive/**"
  workflow_dispatch:

permissions: read-all

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: ministryofjustice/tech-docs-github-pages-publisher:ministryofjustice-fork
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Compile Markdown to HTML
        id: compile
        run: /scripts/deploy.sh

      - name: Upload artifact
        id: upload_artifact
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3

        with:
          name: github-pages
          path: docs/artifact.tar
          retention-days: 1

#   htmlproofer:
#     needs: [build]
#     name: htmlproofer
#     runs-on: ubuntu-latest
#     container:
#       image: ministryofjustice/tech-docs-github-pages-publisher:data-platform
#     defaults:
#       run:
#         working-directory: docs
#     steps:
#       - name: Checkout
#         id: checkout
#         uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

#       - name: Compile Markdown to HTML and run htmlproofer
#         id: compile
#         run: /scripts/check-url-links.sh

#   linkinator:
#     needs: [build]
#     name: linkinator
#     runs-on: ubuntu-latest
#     steps:
#       - name: Download artifact
#         id: download_artifact
#         uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
#         with:
#           name: github-pages
#           path: github-pages

#       - name: Check URLs
#         id: check_urls
#         run: |
#           cd github-pages
#           tar -xvf artifact.tar
#           npm install JustinBeckwith/linkinator#e3d929bbda79d28fb46d20c04a2a6f9a9bce6f5c # v4.1.2
#           npx linkinator . --recurse --markdown

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: [build]
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deploy_github_pages.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Configure GitHub Pages
        id: configure_github_pages
        uses: actions/configure-pages@1f0c5cde4bc74cd7e1254d0cb4de8d49e9068c7d # v4.0.0

      - name: Deploy to GitHub Pages
        id: deploy_github_pages
        uses: actions/deploy-pages@f33f41b675f0ab2dc5a6863c9a170fe83af3571e # v4.0.0
