---
name: Platform - PagerDuty Rota to Slack

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 8 * * 1-5" # Monday-Friday at 08:00 UTC
  workflow_dispatch:

permissions: read-all

jobs:
  pagerduty-rota-to-slack:
    name: PagerDuty Rota to Slack
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: scripts/pagerduty/rota-to-slack
    strategy:
      matrix:
        include:
          - pagerduty-schedule-id: P2IZGH3 # Analytical Platform
            slack-channel: C04M8224WCV # data-platform-apps-and-tools
          - pagerduty-schedule-id: POE95CC # Data Platform
            slack-channel: C04M8224WCV # data-platform-apps-and-tools
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - name: Setup Python
        id: setup_python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: 3.9

      - name: Install requirements
        id: install_requirements
        run: |
          pip install --requirement requirements.txt

      - name: Configure AWS Credentials
        id: configure_aws_credentials
        uses: aws-actions/configure-aws-credentials@8c3f20df09ac63af7b3ae3d7c91f105f857d8497 # v4.0.0
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::042130406152:role/GlobalGitHubActionAccess

      - name: Assume GlobalGitHubActionAdmin Role
        id: assume_global_github_action_admin_role
        uses: aws-actions/configure-aws-credentials@8c3f20df09ac63af7b3ae3d7c91f105f857d8497 # v4.0.0
        with:
          aws-region: eu-west-1
          role-to-assume: arn:aws:iam::042130406152:role/GlobalGitHubActionAdmin
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ env.AWS_SESSION_TOKEN }}
          role-skip-session-tagging: true

      - name: Get AWS Secrets
        id: get_aws_secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@022e8919774ecb75e8e375656d7b1898936ab878 # v1.0.4
        with:
          secret-ids: |
            PAGERDUTY_TOKEN, pagerduty-token
            SLACK_TOKEN, slack-pagerduty-rota-token

      - name: Run scripts/pagerduty/rota-to-slack/main.py
        id: run_slack_on_call
        run: |
          python main.py
        env:
          PAGERDUTY_SCHEDULE_ID: ${{ matrix.pagerduty-schedule-id }}
          PAGERDUTY_TOKEN: ${{ env.PAGERDUTY_TOKEN }}
          SLACK_CHANNEL: ${{ matrix.slack-channel }}
          SLACK_TOKEN: ${{ env.SLACK_TOKEN }}
