name: Publish gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "docs/**"
      - ".github/workflows/publish.yml"

# GITHUB_TOKEN permissions to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ministryofjustice/tech-docs-github-pages-publisher:v3
    defaults:
      run:
        working-directory: docs
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c #v3
      - name: Compile Markdown to HTML and create artifact
        run: |
          /scripts/deploy.sh
      - name: Upload artifact to be published
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce #v3
        with:
          name: github-pages
          path: docs/artifact.tar
          retention-days: 1

  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@37538b280cbfab35da9dcd936a2b95f1f522d927 #v3
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@0243b6c10d06cb8e95ed8ee471231877621202c0 #v1

  url-check:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Download a Build Artifact from build
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a #v3
        with:
          name: github-pages
          path: github-pages
      - name: Unpack files and check URL links #linkinator - v4.1.2
        run: |
          cd github-pages
          tar -xvf artifact.tar
          npm install linkinator@e3d929bbda79d28fb46d20c04a2a6f9a9bce6f5c 
          npx linkinator . --recurse --markdown \
            --skip https://ministryofjustice.github.io/template-documentation-site/images/govuk-large.png \
          # "URL Check will fail on private and internal GitHub repositories"
