---
name: Add issue to project

on: # yamllint disable-line rule:truthy
  issues:
    types:
      - opened

permissions: read-all

jobs:
  add-issue-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Add issue to project
        id: add_issue_to_project
        uses: actions/add-to-project@31b3f3ccdc584546fc445612dec3f38ff5edb41c # v0.5.0
        with:
          project-url: ${{ vars.DATA_PLATFORM_GITHUB_PROJECT_URL }}
          github-token: ${{ secrets.DATA_PLATFORM_ROBOT_TOKEN }}
