---
name: ✍️ Check Commit Signatures

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  super-linter:
    name: Check Commit Signatures
    permissions:
      contents: read
      pull-requests: write
    uses: ministryofjustice/analytical-platform-github-actions/.github/workflows/reusable-commit-signature-checker.yml@f560940f48f870d54b3ce6a318d3548132c5da96 # v6.0.0
