---
name: OpenSSF Scorecard

on: # yamllint disable-line rule:truthy
  branch_protection_rule:
  push:
    branches:
      - main
  schedule:
    - cron: "30 6 * * 1"
  workflow_dispatch:

permissions: read-all

jobs:
  scorecard-analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      security-events: write
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - name: Run analysis
        id: run_analysis
        uses: ossf/scorecard-action@0864cf19026789058feabb7e87baa5f140aac736 # v2.3.1
        with:
          repo_token: ${{ secrets.DATA_PLATFORM_ROBOT_TOKEN }}
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF results
        id: upload_sarif_results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v3.1.0
        with:
          name: SARIF results
          path: results.sarif
          retention-days: 5

      - name: Upload to CodeQL
        id: upload_to_codeql
        uses: github/codeql-action/upload-sarif@cdcdbb579706841c47f7063dda365e292e5cad7a # v2.13.4
        with:
          sarif_file: results.sarif
