---
name: Staler

on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "30 1 * * *"

permissions: read-all

jobs:
  staler:
    name: Staler
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Staler
        id: staler
        uses: actions/stale@1160a2240286f5da8ec72b1c0816ce2481aabf84 # v8.0.0
        with:
          repo-token: ${{ secrets.DATA_PLATFORM_ROBOT_TOKEN }}
          # Issues
          days-before-issue-stale: 60
          days-before-issue-close: 7
          stale-issue-message: "This issue is being marked as stale because it has been open for 60 days with no activity. Remove stale label or comment to keep the issue open."
          close-issue-message: "This issue is being closed because it has been open for a further 7 days with no activity. If this is still a valid issue, please reopen it, Thank you!"
          stale-issue-label: "stale"
          exempt-issue-labels: "do-not-stale"
          # Pull Requests
          days-before-pr-stale: 30
          days-before-pr-close: 7
          stale-pr-message: "This pull reuest is being marked as stale because it has been open for 30 days with no activity. Remove stale label or comment to keep the pull reuest open."
          close-pr-message: "This pull reuest is being closed because it has been open for a further 7 days with no activity. If this is still a valid pull reuest, please reopen it, Thank you!"
          stale-pr-label: "stale"
          exempt-pr-labels: "do-not-stale"
