---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      image:
        type: string
        required: true

jobs:
  prepare-environment:
    name: Prepare Environment
    runs-on: ubuntu-latest
    outputs:
      name: ${{ steps.prepare_environment.outputs.name }}
      version: ${{ steps.prepare_environment.outputs.version }}
      registry: ${{ steps.prepare_environment.outputs.registry }}
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Prepare Environment
        id: prepare_environment
        run: |
          echo "name=$(jq -r '.name' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_OUTPUT}"
          echo "version=$(jq -r '.version' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_OUTPUT}"
          echo "registry=$(jq -r '.registry' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_OUTPUT}"

  preflight-checks:
    if: github.ref != 'refs/heads/main'
    needs: [prepare-environment]
    name: Preflight Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Check Version (Docker Hub)
        if: needs.prepare-environment.outputs.registry == 'dockerhub'
        id: check_version_dockerhub
        run: |
          checkTag=$(skopeo list-tags docker://ministryofjustice/data-platform-${{ needs.prepare-environment.outputs.name }} | jq -r --arg imageTag "${{ needs.prepare-environment.outputs.version }}" '.Tags | index($imageTag)')
          export checkTag

          if [[ -z "${imageTag}" ]]; then
            echo "tag_exists=false" >>"${GITHUB_ENV}"
          else
            echo "tag_exists=true" >>"${GITHUB_ENV}"
          fi

      - name: Prepare ECR Configuration
        if: needs.prepare-environment.outputs.registry == 'ecr'
        id: prepare_ecr_configuration
        run: |
          echo "ecr_role=$(jq -r '.ecr.role' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
          echo "ecr_account=$(jq -r '.ecr.account' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
          echo "ecr_region=$(jq -r '.ecr.region' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
          echo "ecr_repository=$(jq -r '.ecr.repository' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"

      - name: Configure AWS Credentials
        if: needs.prepare-environment.outputs.registry == 'ecr'
        id: configure_aws_credentials
        uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2.2.0
        with:
          aws-region: ${{ env.ecr_region }}
          role-to-assume: ${{ env.ecr_role }}

      - name: Login to Amazon ECR
        if: needs.prepare-environment.outputs.registry == 'ecr'
        id: login_ecr
        uses: aws-actions/amazon-ecr-login@e407df249e6c155d03c0e4375f34bc2385f52d65 # v1.6.1

      - name: Check Version (ECR)
        if: needs.prepare-environment.outputs.registry == 'ecr'
        id: check_version_ecr
        run: |

          aws ecr describe-images \
            --registry-id "${{ env.ecr_account }}" \
            --repository-name "${{ env.ecr_repository }}" | grep -F '"0.0.1"'

          aws ecr describe-images \
            --registry-id "${{ env.ecr_account }}" \
            --repository-name "${{ env.ecr_repository }}" | grep -F '"0.1.0"'

          # imageTag='"0.0.1"'
          # checkImageTagExists=$(aws ecr describe-images \
          #   --registry-id "${{ env.ecr_account }}" \
          #   --repository-name "${{ env.ecr_repository }}" | grep -F ${imageTag})

          # if [[ -z "${checkImageTagExists}" ]]; then
          #   echo "tag_exists=false" >>"${GITHUB_ENV}"
          # else
          #   echo "tag_exists=true" >>"${GITHUB_ENV}"
          # fi

      - name: Check CHANGELOG Updates
        id: check_changelog_updates
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          mainSha=$(gh api --method GET /repos/"${GITHUB_REPOSITORY}"/contents/containers/${{ inputs.image }}/CHANGELOG.md --field ref="main" | jq -r '.sha')
          branchSha=$(gh api --method GET /repos/"${GITHUB_REPOSITORY}"/contents/containers/${{ inputs.image }}/CHANGELOG.md --field ref="${GITHUB_HEAD_REF}" | jq -r '.sha')

          if [[ -z "${mainSha}" ]]; then
            SHA not found for main branch, assuming CHANGELOG.md does not exist
          elif [[ -z "${branchSha}" ]]; then
            SHA not found for "${GITHUB_HEAD_REF}" branch, assuming CHANGELOG.md does not exist
            "changelog_updated=false" >>"${GITHUB_ENV}"
          elif [[ "${mainSha}" == "${branchSha}" ]]; then
            echo "CHANGELOG.md matches main branch, neesd to be updated"
            echo "changelog_updated=false" >>"${GITHUB_ENV}"
          elif [[ "${mainSha}" != "${branchSha}" ]]; then
            echo "CHANGELOG.md does not match main branch, does not need to be updated"
            echo "changelog_updated=true" >>"${GITHUB_ENV}"
          fi

      - name: Evaluate Checks
        id: evaluate_checks
        run: |
          echo "# Preflight Checks" >>"${GITHUB_STEP_SUMMARY}"

          if [[ "${{ env.tag_exists }}" == "true" ]]; then
            echo "FAIL: Container tag already exists" >>"${GITHUB_STEP_SUMMARY}"
            export failBuild="true"
          else
            echo "OK: Container tag does not exist" >>"${GITHUB_STEP_SUMMARY}"
            export failBuild="false"
          fi

          if [[ "${{ env.changelog_updated }}" == "true" ]]; then
            echo "OK: CHANGELOG.md has been updated" >>"${GITHUB_STEP_SUMMARY}"
            export failBuild="false"
          elif [[ "${{ env.changelog_updated }}" == "false" ]]; then
            echo "FAIL: CHANGELOG.md needs to be updated" >>"${GITHUB_STEP_SUMMARY}"
            export failBuild="true"
          fi

          if [[ "${failBuild}" == "true" ]]; then
            exit 1
          fi

  # build-scan:
  #   if: github.ref != 'refs/heads/main'
  #   needs: [prepare-environment, preflight-checks]
  #   name: Build and Scan
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       id: checkout
  #       uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

  #     - name: Build Image
  #       id: build_image
  #       uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
  #       with:
  #         context: containers/${{ inputs.image }}
  #         file: containers/${{ inputs.image }}/Dockerfile
  #         push: false
  #         load: true
  #         tags: ${{ needs.prepare-environment.outputs.name }}:${{ needs.prepare-environment.outputs.version }}

  #     - name: Scan Image
  #       id: scan_image
  #       uses: aquasecurity/trivy-action@41f05d9ecffa2ed3f1580af306000f734b733e54 # v0.11.2
  #       with:
  #         image-ref: ${{ needs.prepare-environment.outputs.name }}:${{ needs.prepare-environment.outputs.version }}
  #         exit-code: 1
  #         format: sarif
  #         output: trivy-results.sarif
  #         severity: CRITICAL

  #     - name: Upload SARIF
  #       if: always()
  #       id: upload_sarif
  #       uses: github/codeql-action/upload-sarif@cdcdbb579706841c47f7063dda365e292e5cad7a # v2.2.7
  #       with:
  #         sarif_file: trivy-results.sarif

  # build-push-dockerhub:
  #   if: (github.ref == 'refs/heads/main') && (needs.prepare-environment.outputs.registry == 'dockerhub')
  #   needs: [prepare-environment]
  #   name: Build and Push to Docker Hub
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       id: checkout
  #       uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

  #     - name: Login to Docker Hub
  #       id: docker_login
  #       uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     - name: Build and Push
  #       id: build_and_push
  #       uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
  #       with:
  #         context: containers/${{ inputs.image }}
  #         file: containers/${{ inputs.image }}/Dockerfile
  #         push: true
  #         tags: ministryofjustice/data-platform-${{ needs.prepare-environment.outputs.name }}:${{ needs.prepare-environment.outputs.version }}

  # build-push-ecr:
  #   if: (github.ref == 'refs/heads/main') && (needs.prepare-environment.outputs.registry == 'ecr')
  #   needs: [prepare-environment]
  #   name: Build and Push to ECR
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       id: checkout
  #       uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

  #     - name: Prepare ECR Configuration
  #       id: prepare_ecr_configuration
  #       run: |
  #         echo "ecr_role=$(jq -r '.ecr.role' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
  #         echo "ecr_account=$(jq -r '.ecr.account' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
  #         echo "ecr_region=$(jq -r '.ecr.region' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"
  #         echo "ecr_repository=$(jq -r '.ecr.repository' containers/${{ inputs.image }}/config.json)" >>"${GITHUB_ENV}"

  #     - name: Configure AWS Credentials
  #       id: configure_aws_credentials
  #       uses: aws-actions/configure-aws-credentials@5fd3084fc36e372ff1fff382a39b10d03659f355 # v2.2.0
  #       with:
  #         aws-region: ${{ env.ecr_region }}
  #         role-to-assume: ${{ env.ecr_role }}

  #     - name: Login to Amazon ECR
  #       id: login_ecr
  #       uses: aws-actions/amazon-ecr-login@e407df249e6c155d03c0e4375f34bc2385f52d65 # v1.6.1

  #     - name: Build and Push
  #       id: build_and_push
  #       uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
  #       with:
  #         context: containers/${{ inputs.image }}
  #         file: containers/${{ inputs.image }}/Dockerfile
  #         push: true
  #         tags: ${{ env.ecr_account }}.dkr.ecr.${{ env.ecr_region }}.amazonaws.com/${{ env.ecr_repository }}:${{ needs.prepare-environment.outputs.version }}
