name: Service - Example

on:
  pull_request:
    types: 
      - opened 
      - edited
      - reopened
      - synchronize
    paths:
      - services/example/**

permissions: read-all

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/example
    strategy:
      matrix:
        python-version:
          - 3.9
          - 3.10
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Set up Python ${{ matrix.python-version }}
        id: setup_python
        uses: actions/setup-python@d27e3f3d7c64b4bbf8e4abfb9b63b83e846e0435 # v4.5.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        id: install_dependencies  
        run: python -m pip install --requirement requirements.txt

      - name: Run pytest
        id: run_pytest
        run: pytest app.py

      - name: Create SBOM
        id: create_sbom
        uses: anchore/sbom-action@07978da4bdb4faa726e52dfc6b1bed63d4b56479 # v0.13.3
        with:
          path: ./services/example
          artifact-name: data-platform-service-example.spdx

      - uses: anchore/sbom-action/publish-sbom@07978da4bdb4faa726e52dfc6b1bed63d4b56479 #v0.13.3
        with:
          sbom-artifact-match: ".*\\.spdx$"

  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/example
    permissions:
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language:
          - python
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Initialise CodeQL
        id: init_codeql
        uses: github/codeql-action/init@17573ee1cc1b9d061760f3a006fc4aac4f944fd5 # v2.2.4
        with:
          languages: ${{ matrix.language }}

      - name: CodeQL autobuild
        id: codeql_autobuild
        uses: github/codeql-action/autobuild@17573ee1cc1b9d061760f3a006fc4aac4f944fd5 # v2.2.4

      - name: CodeQL analyse
        id: codeql_analyse
        uses: github/codeql-action/analyze@17573ee1cc1b9d061760f3a006fc4aac4f944fd5 # v2.2.4
        with:
          category: "/language:${{matrix.language}}"
